<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Onam Kwon</title>
		<body class="body" style="background-color: #1c1c1e; color: rgb(221,221,221); font-family: Sans-serif; margin:0 auto;"></body>
		<!-- Bootstrap CSS
		<body class="body" style="background-color: #1c1c1e; color: rgb(221,221,221); font-family: Sans-serif; margin:0 auto;">
		 -->
	</head>
	
	<body>
		<div class="navbar">
			<a class="active" href="/">Onam Kwon</a> 
			<a href="/dev">Dev</a> 
			<a href="/private">Private</a> 
			<a href="/about">About</a>
		</div>  
		<div class="wrapper">
			<ul class="item-list mySelf">
					<article class="about-text">
                        <div>
                            <h1><%= user.id %>, Welcome! </h1>
                            <button type="button" id="back" onclick="location.href='/board'">Back</button>
                            <button type="button" id="logOut" onclick="signOut()">Log out</button>
                        </div>
					</article>
			</ul>
            <div class="item-list">
                <div id="content">
                    <div class="container box">
                        <div class="row box">
                            <div class="col box" style="font-size: 40px;">
                                <a> Title: <%= article.TITLE %> </a>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col box" style="font-size: 25px;">
                                <a> Posted date: <%= article.POST_DATE %> </a>
                            </div>
                            <div class="col box" style="font-size: 25px;">
                                <a> Updated date: <%= article.UPDATE_DATE %> </a>
                            </div>
                            <div class="col box" style="font-size: 25px;">
                                <a> Author: <%= article.AUTHOR %> </a>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col box" style="height: 40vh; font-size: 30px;">
                                <a> <%= article.content %> </a>
                            </div>
                        </div>
                    </div>
                        <button type="button" id="delete" onclick="deleteArticle()">Delete</button>
                        <button type="button" id="edit" onclick="editArticle()">Edit</button>
                </div>
            </div>
		</div>
        <script>
            function deleteArticle() {
                const article_num = <%= article.BOARD_NO %>;
                $.ajax({
                    type: "delete",
                    url: '/board/:id',
                    data: {article_num: article_num},
                    dataType:'text',
                    success: function(res) {
                        alert(res);
                        if(res === 'Article has been removed.') {
                            window.location.href = '/board';
                        }
                    }
                });
            }
            function editArticle() {
                const author = '<%= article.AUTHOR %>';
                const user = '<%= user.id %>';
                if(user === author) {
                    window.location.href = '/board/article/<%= article.BOARD_NO %>';
                } else {
                    alert('Account not matched.');
                }
            }
            function signOut() {
                $.ajax({
                    type: "delete",
                    url: '/user/logout',
                    data: {},
                    dataType:'text',
                    success: function(res) {
                        location.reload();
                    }
                });
            }
        </script>
        <style>
            #edit, #delete {
                float: right;
                margin-right: 2%;
            }
            .box {
                border-style: solid;
                border-width: 0.5px;
            }
            #logOut, #post, #back, #edit, #delete {
                margin-top: 2%;
                width: 19%;
                height: 34px;
                border-radius: 50px;
                background: black;
                color: white;
                display: inline-block;
            }
            html, body { height: 100%; width: 100%; margin: 0; }
        </style>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</body>
</html>


