<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Onam Kwon</title>
		<body class="body" style="background-color: #1c1c1e; color: rgb(221,221,221); font-family: Sans-serif; margin:0 auto;"></body>
		<!-- Bootstrap CSS
		<body class="body" style="background-color: #1c1c1e; color: rgb(221,221,221); font-family: Sans-serif; margin:0 auto;">
		 -->
	</head>
	
	<body>
		<div class="navbar">
			<a class="active" href="/">Onam Kwon</a> 
			<a href="/dev">Dev</a> 
			<a href="/private">Private</a> 
			<a href="/about">About</a>
		</div>  
		<div class="wrapper">
			<ul class="item-list mySelf">
					<article class="about-text">
                        <div>
                            <h1><%= user.id %>, Welcome! </h1>
                            <button type="button" id="back" onclick="location.href='/articles'">Back</button>
                            <button type="button" id="logOut" onclick="signOut()">Log out</button>
                        </div>
					</article>
			</ul>
            <div class="item-list">
                <div id="content">
                    <div class="container box">
                        <div class="row box">
                            <div class="col box" style="font-size: 40px;">
                                <a> Title: <%= article.TITLE %> </a>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col box" style="font-size: 25px;">
                                <a> Posted date: <%= article.POST_DATE %> </a>
                            </div>
                            <div class="col box" style="font-size: 25px;">
                                <a> Updated date: <%= article.UPDATE_DATE %> </a>
                            </div>
                            <div class="col box" style="font-size: 25px;">
                                <a> Author: <%= article.AUTHOR %> </a>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col box" style="height: 40vh; font-size: 30px;">
                                <a> <%= article.content %> </a>
                            </div>
                        </div>

                        <div class="row box">
                            <div class="col box col-md-8" >
                                <textarea id="comment"></textarea>
                            </div>
                            <div class="col box col-md-4">
                                <center>
                                    <button type="button" id="postComment" onclick="postComment()">Post comment</button>
                                </center>
                            </div>
                        </div>
                        <br>
                        <% for(let i=0;i< comments.length;i++) { %>
                            <div class="row box" style="font-size: 25px;">
                                <div class="col box col-3" style="font-size: 20px;">
                                    <a> <%= comments[i].author %> </a> <br>
                                </div>
                                <div class="col box col-9" style="font-size: 15px;">
                                    <a> <%= comments[i].time %> </a> <br>
                                </div>
                            </div>
                            <div class="row box" style="font-size: 25px;">
                                <div class="col box col-md-8" style="font-size: 25px; height: 5vh;">
                                    <a> <%= comments[i].content %> </a>
                                </div>
                                <% if(comments[i].content == 'deleted') { %>
                                    <div class="col box col-md-2" style="font-size: 10px;">
                                        <button type="button" id="commentsButton" onclick="edit()" disabled>Edit</button>
                                    </div>
                                    <div class="col box col-md-2" style="font-size: 10px;">
                                        <button type="button" id="commentsButton" onclick="deleteComment(<%= comments[i].comment_num %>)" disabled>Delete</button>
                                    </div>
                                <% } else { %>
                                    <div class="col box col-md-2" style="font-size: 10px;">
                                        <button type="button" id="commentsButton" onclick="edit(<%= comments[i].comment_num %>)">Edit</button>
                                    </div>
                                    <div class="col box col-md-2" style="font-size: 10px;">
                                        <button type="button" id="commentsButton" onclick="deleteComment(<%= comments[i].comment_num %>)">Delete</button>
                                    </div>
                                    
                                    <div id="editComment<%= comments[i].comment_num %>" class="row box" style="display: none;">
                                        <div class="row box">
                                            <div class="col box col-md-9" style="font-size: 15px;" >
                                                <textarea id="editContent<%= comments[i].comment_num %>" style="width: 100%;" ><%= comments[i].content %></textarea>
                                            </div>
                                            <div class="col box col-md-3" >
                                                <button type="button" id="commentsButton" onclick="submitEditedComment(<%= comments[i].comment_num %>)" style="width: 100%;">Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                <% } %>

                            </div>
                            <% if((i+1==comments.length) || (comments[i+1].comment_order==1)) { %>
                                <div class="row box" style="font-size: 25px;">
                                    <div class="col box col-md-5" style="font-size: 25px;"></div>
                                    <div class="col box col-md-2" style="font-size: 10px;">
                                        <button type="button" id="commentsButton" onclick="reply(<%= comments[i].comment_num %>)">Reply</button>
                                    </div>
                                    <div class="col box col-md-5" style="font-size: 25px;"></div>
                                </div>
                                <div id="replyText<%= comments[i].comment_num %>" class="row box" style="display: none;">
                                    <div class="row box">
                                        <div class="col box col-md-9" style="font-size: 15px;" >
                                            <textarea id="replyContent<%= comments[i].group_num %>" style="width: 100%;"></textarea>
                                        </div>
                                        <div class="col box col-md-3" >
                                            <button type="button" id="commentsButton" onclick="submitReply('<%= user.id %>', <%= comments[i].group_num %>, <%= article.BOARD_NO %>)" style="width: 100%;">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            <% } %>
                        <% } %>
                    </div>
                        <button type="button" id="delete" onclick="deleteArticle(<%= article.BOARD_NO %>)">Delete</button>
                        <button type="button" id="edit" onclick="editArticle()">Edit</button>
                    </div>
            </div>
            
		</div>
        <script>
            function submitEditedComment(id) {
                const content = document.getElementById('editContent'+id).value;
                document.getElementById('editContent'+id).value = '';
                const resourceType = 'comment';
                $.ajax({
                    type: "put",
                    url: `/articles/${resourceType}/${id}`,
                    data: {content: content},
                    dataType:'text',
                    success: function(res) {
                        if(res === 'comment has been updated.') {
                            location.reload();
                        } else {
                            alert('Something went wrong.');
                        }
                    }
                });
            }
            function edit(comment_num) {
                var x = document.getElementById('editComment'+comment_num);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function submitReply(user, group_num, id) {
                const content = document.getElementById('replyContent'+group_num).value;
                document.getElementById('replyContent'+group_num).value = '';
                const resourceType = 'reply';
                $.ajax({
                    type: "post",
                    url: `/articles/${resourceType}/${id}`,
                    data: {group_num: group_num, content: content},
                    dataType:'text',
                    success: function(res) {
                        if(res == 'reply has been posted.') {
                            location.reload();
                        } else {
                            alert('Something went wrong.');
                        }
                    }
                });
            }
            function reply(comment_num) {
                var x = document.getElementById("replyText"+comment_num);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function deleteComment(id) {
                const resourceType = 'comment';
                $.ajax({
                    type: "delete",
                    url: `/articles/${resourceType}/${id}`,
                    data: {},
                    dataType:'text',
                    success: function(res) {
                        alert(res);
                        if(res === 'comment has been removed.') {
                            location.reload();
                        }
                    }
                });
            }
            function postComment() {
                const id = <%= article.BOARD_NO %>;
                const content = document.getElementById('comment').value;
                document.getElementById('comment').value = '';
                const resourceType = 'comment';
                $.ajax({
                    type: "post",
                    url: `/articles/${resourceType}/${id}`,
                    data: {content: content},
                    dataType:'text',
                    success: function(res) {
                        if(res === 'comment has been posted.') {
                            location.reload();
                        } else {
                            alert('Something went wrong.');
                        }
                    }
                });
            }
            function deleteArticle(id) {
                // const article_num = <%= article.BOARD_NO %>;
                const resourceType = 'article';
                $.ajax({
                    type: "delete",
                    url: `/articles/${resourceType}/${id}`,
                    data: {},
                    dataType:'text',
                    success: function(res) {
                        alert(res);
                        if(res === 'article has been removed.') {
                            window.location.href = '/articles';
                        }
                    }
                });
            }
            function editArticle() {
                console.log('editArticle');
                const author = '<%= article.AUTHOR %>';
                const user = '<%= user.id %>';
                if(user === author) {
                    window.location.href = '/articles/<%= article.BOARD_NO %>/edit';
                } else {
                    alert('Account not matched.');
                }
            }
            function signOut() {
                $.ajax({
                    type: "delete",
                    url: '/user/logout',
                    data: {},
                    dataType:'text',
                    success: function(res) {
                        location.reload();
                    }
                });
            }
        </script>
        <style>
            #edit, #delete {
                float: right;
                margin-right: 2%;
            }
            .box {
                border-style: solid;
                border-width: 0.5px;
            }
            #comment {
                width: 100%;
                height: 100%;
            }
            #postComment {
                margin-top: 3%;
                align-items: center;
                justify-content: center;
                position:relative;

                width: 100%;
                height: 100%;
                border-radius: 50px;
                background: black;
                color: white;
                display: inline-block;
            }
            #commentsButton {
                width: 100%;
                height: 3vh;
                border-radius: 50px;
                background: black;
                color: white;
                display: inline-block;
            }
            #logOut, #post, #back, #edit, #delete {
                margin-top: 2%;
                width: 19%;
                height: 34px;
                border-radius: 50px;
                background: black;
                color: white;
                display: inline-block;
            }
            html, body { height: 100%; width: 100%; margin: 0; }
        </style>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</body>
</html>


